<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shambhavi's page</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <link
      rel="icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <main>
      <h1>Welcome to Shambhavi's Website</h1>
    </main>
    <h1>Contact</h1>

    <p id="dateDisplay"></p>
    <h1>Your Location</h1>
    <div id="location-display">Click the button to get your location.</div>
    <button onclick="getLocation()">Get My Location</button>

    <!--<script src="get_location.js"></script>-->

    <script src="{% static 'js/script2.js' %}"></script>
    <!--script src="index.js"></script-->
  </body>
</html>
